* {
    font-family: 'Shadows Into Light', cursive;
}

body {
    background-color: #6f946f;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

.container-2 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.button-style {
    height: 3rem;
    width: 8rem;
    background-color:rgb(247, 179, 52);
    border-radius: 0.5rem;
    border: none;
    text-transform: uppercase;
    font-size: 1.5rem;
}

@media (max-width: 768px) {
    .container-2 {
        flex-direction: column;
        align-items: center;
        margin-top: 3rem;
        gap: 1rem;
    }

    .title {
        margin-left: 2rem;
    }
}
